@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
body {
    font-family: 'Noto Serif', serif;
}

.navbar-brand img {
    width: 150px;
    height: 75px;
}

.navbar-toggler {
    display: none;
}

.wrapper {
    height: 100vh;
    overflow: hidden;
    background: #fff;
}

.wrapper h3 {
    letter-spacing: 1.2px;
}

header nav {
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
}

nav p {
    letter-spacing: 1px;
}

.left .nav-link {
    color: #000;
}

.fa {
    color: #6e80ff;
}

.nav-item.active .nav-link {
    color: #000;
    border-left: 3px solid #6e80ff;
}

.nav-item .nav-link:hover {
    background: #f5f6f7;
}

.nav-item .nav-link {
    border-left: 3px solid #fff;
}

.left-menu {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.home {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.wrap {
    height: 100vh;
    overflow: scroll;
    /* padding-right: 0px !important;
    padding-left: 0px !important; */
}

.about p {
    letter-spacing: 1px;
    line-height: 1.7em;
}

.wrap::-webkit-scrollbar {
    width: 4px;
    background: #f5f6f7;
}

.content {
    background: #f5f6f7;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
}

.work {
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
    transition: margin 1s ease, box-shadow 1s ease;
}

.work p, h6 {
    line-height: 1.6em;
}

.work:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25);
    cursor: pointer;
}

.time {
    background: #fff;
}

.time p {
    letter-spacing: 0.5px;
}

hr {
    width: 10%;
    height: 1px;
    background: #6e80ff;
}

.owl-nav {
    display: none;
}

.border-right {
    border-right: 1px solid #aecae6 !important;
    background: #fff;
}

.gallery {
    margin-bottom: 125px;
}

/* usliga */

.usliga {
    margin-bottom: 125px !important;
}

.otziv {
    margin-bottom: 125px !important;
}

.usliga p, a {
    letter-spacing: 0.9px;
}

.usliga-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.about-uslug {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.usliga a {
    color: #000;
    text-decoration: none;
}

.usliga .btn {
    border: 1px solid #6e80ff;
}

/* gallery */

.galert-two, .contact, .about-uslug {
    margin-bottom: 125px !important;
}

.galert-two, .contact, .otziv {
    background: #fff;
}

.galert-two p {
    letter-spacing: 0.9px;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 7px;
}

.item {
    position: relative;
}

.item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.item:nth-child(2) {
    grid-column: 2;
    grid-row: 0 / 3;
}

.item:nth-child(3) {
    grid-column: 2;
    grid-row: 2 / 3;
}

.item:nth-child(4) {
    grid-column: 2;
    grid-row: 3 / 3;
}

.item a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
}

.item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* form */

.send {
    border: 1px solid #6e80ff;
}

/* .otziv p {
    letter-spacing: 0.9px;
} */

/* price */

.price {
    background: #fff;
    margin-bottom: 125px !important;
}

.price p {
    line-height: 1.5em;
    letter-spacing: 0.9px;
}

/* .w-header {
    width: 3.2rem;
} */


/* otziv */

.g-height-50 {
    height: 80px;
}

.g-width-50 {
    width: 80px !important;
}

.media h5 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 28px;
}

.media span {
    color: gray;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.media p {
    padding: 7px;
    letter-spacing: 0.7px;
    font-size: 15px;
    line-height: 1.2em;
    font-style: italic;
}

.media ul {
    padding: 7px;
}



.list-inline-item {
    font-size: 13px;
}

.timeline {
    position: relative;
    list-style: none;
    padding: 1rem 30px;
    margin: 0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1px;
    background-color: #6e80ff;
}

.timeline-element {
    position: relative;
    width: 50%;
    padding: 1rem 30px;
    padding-right: 2.5rem;
    text-align: right;
}

.timeline-element::before {
    content: '';
    position: absolute;
    right: -8px;
    top: 1.35rem;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #6e80ff;
    background-color: #fff;
}

.timeline-element:nth-child(even)::before {
    right: auto;
    left: -8px;
}

.timeline-element:nth-child(even) {
    margin-left: 50%;
    padding-left: 2.5rem;
    padding-right: 0;
    text-align: left;
}

@media (max-width: 767.98px) {
    .timeline::before {
        left: 8px;
    }
}

@media (max-width: 767.98px) {
    .timeline-element {
        width: 100%;
        text-align: left;
        padding-left: 2.5rem;
        padding-right: 0;
    }
}

@media (max-width: 767.98px) {
    .timeline-element::before {
        top: 1.25rem;
        left: 1px;
    }
}

@media (max-width: 767.98px) {
    .timeline-element:nth-child(even) {
        margin-left: 0rem;
    }
}

@media (max-width: 767.98px) {
    .timeline-element {
        width: 100%;
        text-align: left;
        padding-left: 2.5rem;
        padding-right: 0;
    }
}

@media (max-width: 767.98px) {
    .timeline-element:nth-child(even)::before {
        left: 1px;
    }
}

@media (max-width: 767.98px) {
    .timeline-element::before {
        top: 1.25rem;
    }
}

/*  */

@media (max-width:1199px) {
    .navbar-toggler {
        display: block;
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        border: 1px solid #6e80ff !important;
        border-radius: .25rem;
    }
    .left-menu {
        padding-top: 0 !important;
        padding: 10px 10px 10px 10px !important;
        cursor: pointer;
    }
    .left {
        display: none;
    }
    .left {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    .left li img {
        display: none;
    }
    .nav-item.active .nav-link {
        border-left: none;
    }
    .gallery {
        margin-bottom: 170px !important;
    }
    .usliga {
        margin-bottom: 170px !important;
    }
    .price {
        margin-bottom: 170px !important;
    }
    .galert-two {
        margin-bottom: 170px !important;
    }
    .otziv {
        margin-bottom: 170px !important;
    }
    .contact {
        margin-bottom: 170px !important;
    }
}

@media (max-width:1140px) {
    .gallery {
        margin-bottom: 150px !important;
    }
    .usliga {
        margin-bottom: 150px !important;
    }
    .price {
        margin-bottom: 150px !important;
    }
    .galert-two {
        margin-bottom: 150px !important;
    }
    .otziv {
        margin-bottom: 150px !important;
    }
    .contact {
        margin-bottom: 150px !important;
    }
    nav p {
        font-size: 13px;
        letter-spacing: 1px;
    }
}

@media (max-width:960px) {
    body {
        font-size: small;
    }
    .gallery {
        margin-bottom: 150px !important;
    }
    .usliga {
        margin-bottom: 150px !important;
    }
    .price {
        margin-bottom: 150px !important;
    }
    .galert-two {
        margin-bottom: 150px !important;
    }
    .otziv {
        margin-bottom: 150px !important;
    }
    .contact {
        margin-bottom: 150px !important;
    }
    .mt-5, .my-5 {
        margin-top: 2rem !important;
    }
    .adress {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
}

@media (max-width:720px) {
    .navbar {
        padding: 0px !important;
    }
    .navbar-brand img {
        width: 120px;
        height: 60px;
    }
    .navbar-expand-lg {
        font-size: 12px;
        line-height: 1.5em;
    }

    .left{
        line-height: 0.7em;
    }
    .social {
        margin-right: 0 !important;
    }
    .call {
        padding-top: 0 !important;
    }
    .gallery {
        margin-bottom: 190px !important;
    }
    .usliga {
        margin-bottom: 190px !important;
    }
    .price {
        margin-bottom: 190px !important;
    }
    .galert-two {
        margin-bottom: 190px !important;
    }
    .otziv {
        margin-bottom: 190px !important;
    }
    .contact {
        margin-bottom: 190px !important;
    }
    .d-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 150px;
        grid-gap: 1px;
    }
    .item:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
    }
    .item:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
    }
    .item:nth-child(3) {
        grid-column: 1/ 3;
        grid-row: 3 / 3;
    }
    .item:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 4 / 4;
    }
    .lead {
        font-size: 1.09rem !important;
        font-weight: 300;
    }
    .social {
        margin-right: 0 !important;
    }
}

@media (max-width:571px) {
    .wrapper h3 {
        font-size: 1.50rem;
    }
    .wrapper h2 {
        font-size: 1.75rem;
    }
    .lead {
        font-size: 1rem;
        font-weight: 300;
    }
    .navbar {
        padding: 0.9em !important;
    }
    .navbar-brand {
        display: none;
    }
    .gallery {
        margin-bottom: 180px !important;
    }
    .usliga {
        margin-bottom: 180px !important;
    }
    .price {
        margin-bottom: 180px !important;
    }
    .galert-two {
        margin-bottom: 180px !important;
    }
    .otziv {
        margin-bottom: 180px !important;
    }
    .contact {
        margin-bottom: 180px !important;
    }
    .call {
        text-align: center;
    }
    .social-icon {
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
    }
    .social {
        display: flex;
        justify-content: center !important;
        margin-right: 0 !important;
    }
    .media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .media h5 {
        font-weight: 500;
        letter-spacing: 0.8px;
        font-size: 18px;
    }
    .media span {
        color: gray;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
    }
    .media p {
        letter-spacing: 0.7px;
        font-size: 13px;
        line-height: 1em;
        font-style: italic;
        padding: 5px;
    }
    .call {
        text-align: start;
    }
}

@media (max-width:360px) {
    .social-icon {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        padding-bottom: 0 !important;
    }
    .navbar {
        padding: 0.5em !important;
    }
    .gallery {
        margin-bottom: 200px !important;
    }
    .usliga {
        margin-bottom: 200px !important;
    }
    .price {
        margin-bottom: 200px !important;
    }
    .galert-two {
        margin-bottom: 200px !important;
    }
    .otziv {
        margin-bottom: 200px !important;
    }
    .contact {
        margin-bottom: 200px !important;
    }

    .call p{
        text-align: center;
        margin-bottom: 0px !important;
    }
}